h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

* {
	margin: 0;
	padding: 0;
  }
  html,
  #app {
	height: 100%;
  }
  #header-page {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  #main-page {
	flex: 1 0 auto;
  }
  #footer-page {
	flex: 0 0 auto;
  }
